* {
    margin: 0.2;
    padding: 0.2;
    box-sizing: border-box;
}

@font-face {
    font-family: cmodern-serif;
    src: url(fonts/cmunrm.ttf);
}


/* .header-img {
    height: 400px;
    width: 100%;
    background-image: url("images/painting.jpeg");
} */


body {
    font-family: "cmodern-serif";
}

h1 {
    font-family: "Santrome";
    margin-bottom: -2%;
    margin-top: -4.4%;
}

h2,
h4,
h5 {
    font-family: "cmodern-serif";
    font-weight: 100;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.directory {
    vertical-align: middle;
    display: inline-block;
}

.accounts {
    vertical-align: middle;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 6px;
    display: inline-table;
    text-transform: lowercase;
    cursor: pointer;
}

/* li:hover {
    font-weight: 500;
} */

i {
    padding: 6px;
    color: black;
    cursor: pointer;
    display: inline-table;
}

i:hover {
    transform: scale(1.2);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

.header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.content-container {
    display: grid;
    grid-template-areas: 'left-content right-content';
    width: 60%;
    margin: auto;
    grid-gap: 50px;
    text-align: left;
}

.subscribe-btn {
    font-family: "cmodern-serif";
    background-color: black;
    border: none;
    color: white;
}

::placeholder {
    font-family: "cmodern-serif";
}

form {
    /* adding inline gets it inline, display change */
    display: inline-flex;
    transform: translate(0%, 20%);
    transition: all 1s;
    width: 20px;
    background: white;
    border-style: none;
    margin: 0;
    padding: 0;
    /*vertical-align: top;*/

}

input {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 80%;
    vertical-align: middle;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    display: none;
    font-family: "cmodern-serif";
}

form:hover,
form:valid {
    width: 200px;
    cursor: pointer;
    border-bottom: 1px solid black;
    line-height: 2px;
}

form:hover input,
form:valid input {
    display: block;
}

form:hover .fa,
form:valid .fa {
    color: black;
    transform: scale(1);
}

form:valid a {
    display: block;
    margin: 0;
    padding: 0;
}