* {
    margin: 0.2;
    padding: 0.2;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
} */

body {
    font-family: "Computer Modern Serif", serif;
}

h1 {
    font-family: "Santrome";
    margin-bottom: -1.5%;
    margin-top: -4.4%;
}

h2,
h4,
h5 {
    font-family: "Computer Modern Serif";
    font-weight: 100;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.directory {
    vertical-align: middle;
    display: inline-block;
}

.accounts {
    vertical-align: middle;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 6px;
    display: inline-table;
    text-transform: lowercase;
    cursor: pointer;
}

/* li:hover {
    font-weight: 500;
} */

i {
    padding: 6px;
    color: black;
    cursor: pointer;
    display: inline-table;
}

i:hover {
    transform: scale(1.2);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

.header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}